{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
        <h3 class="modal-title" id="myModalLabel">编辑标签</h3>

        <form action="" method="post">
            {% csrf_token %}
      <div class="modal-body">
          <div class="form-group">
              <label for="title" class="control-label">标题 ：</label>
                  <input type="text" name="title" id="title" class="form-control" value="{{ obj.title }}">
              </div>
{#          <div class="form-group">#}
{#              <label for="status" class="control-label">状态 ：</label>#}
{#                  <select name="status" class="form-control" id="status">#}
{#                                    <option value="pending" selected="selected">pending</option>#}
{#                                    <option value="pass">pass</option>#}
{#                                    <option value="reject">reject</option>#}
{#                  </select>#}
{#            </div>#}
          <div class="form-group">
              <label for="category" class="control-label">类型 ：</label>
                  <input type="text" name="category" id="category" class="form-control" value="{{ obj.category }}">
              </div>
          <div class="form-group">
              <label for="content" class="control-label">内容 ：</label><button id="add_content" type="button" class="btn btn-sm btn-success">添加</button>
              {% for content in contents %}
              <textarea name="content" id="content" class="form-control"
                  rows="2">{{content }} </textarea>
              {% endfor %}
              </div>
      </div>
      <div class="modal-footer">
        <button id="cancel" type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="submit" class="btn btn-primary" id="save_change">提交</button>
      </div>
        </form>

</div>

<script>
    $("#cancel").click(function () {
        window.close()
    });
    $("#add_content").click(function () {
        $(this).parent().append('<textarea name="content" class="form-control"rows="2"></textarea>')
    })
</script>
</body>
</html>